.sales-page-banner {
    position: relative;
    .sp-top-title {
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        h1 {
            font-weight: 700;
            font-size: 75px;
            line-height: 75px;
            text-align: center;
            color: #000000;
        }
    }
    .sp-bottom-text {
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
        p {
            font-weight: 400;
            font-size: 29px;
            line-height: 35px;
            text-align: center;
            color: #000000;
            span {
                font-style: normal;
                font-weight: 700;
                font-size: 29px;
                line-height: 35px;
                text-align: center;
                color: #000000;
            }
        }
    }

    @media screen and (max-width: 991px) {
        .sp-top-title {
            top: 10px;
            h1 {
                font-size: 36px;
                line-height: 46px;
            }
        }
        .sp-bottom-text {
            bottom: 10px;
            p {
                font-size: 18px;
                line-height: 24px;
                span {
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }
    }
}



