body {
    font-family: 'NouvelR';
    font-weight: normal;
    color: #000000;
    font-size: 16px;
}
* {
    margin: 0;
}
p {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'DIN Condensed';
    margin: 0;
}
.cs-btn {
    border-radius: 0;
    padding: 15px 20px;
    font-size: 18px;
}
a {
    text-decoration: none;
}
ul,li {
    padding: 0;
    margin: 0;
}
.main-header {

    .header-main-div {
        //display: flex;
        //justify-content: space-between;
        //align-items: center;
        .header-menu {
            .dropdown {
                .btn {
                    font-size: 18px;
                    padding: 0;
                    display: flex;
                    gap: 15px;
                    align-items: center;
                    border: none;
                    &:after {
                        display: none;
                    }
                    &:focus {
                        border: none;
                    }
                }
            }
            .navbar {
                .navbar-toggler {
                    border: none;
                    padding: 0;
                    display: flex;
                    gap: 15px;
                    align-items: center;
                    font-size: 18px;
                    color: #000;
                    &[aria-expanded="true"] {
                        .menu-close-btn {
                            display: block;
                        }
                        .menu-line-btn {
                            display: none;
                        }
                    }
                    .menu-close-btn {
                        display: none;
                    }
                    &:focus {
                        box-shadow: none;
                        outline: none;
                    }
                }

            }
        }
        .header-right-div {
            .hrd-ul {
                display: flex;
                gap: 20px;
                justify-content: end;
                align-items: center;
                li {
                    display: block;
                    .btd-btn {
                        font-size: 16px;
                        border-radius: 30px;
                        padding: 5px 25px;
                    }
                }
            }
        }
    }
    .mega-menu-div {
        position: absolute;
        top: 0;
        background-color: #fff;
        margin-top: 100px;
        z-index: 99;
        width: 100%;
        padding: 30px;
        min-width: 300px;

        .header-menu-ul {
            padding: 0 30px;
            li {
                display: block;

                a {
                    font-size: 18px;
                    padding: 15px 0;
                    display: block;
                    line-height: 22px;
                    color: #000000;
                    &.active {
                        border-bottom: 1px solid #000;
                    }
                }
            }
        }
        .menu-tab {
            height: 100%;
            border-left: 1px solid #000;
            padding: 0 30px;
            .nav {
                display: flex;
                flex-direction: column;
                li {
                    display: block;

                    a {
                        font-size: 18px;
                        padding: 15px 0;
                        line-height: 22px;
                        color: #000000;
                        position: relative;
                        .ar-icon {
                            opacity: 0;
                        }
                        &.active {
                            border-bottom: 1px solid #000;
                            .ar-icon {
                                position: absolute;
                                right: 15px;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
        .sub-menu-div {
            border-left: 1px solid #000;
            padding: 0 30px;
            height: 100%;
            .menu-box {
                text-align: center;
                margin-bottom: 15px;
                a {
                    p {
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 24px;
                        color: #000000;
                    }
                }
            }
        }

    }
}
.main-footer {
    background-color: #000000;
    padding: 40px 0;
    .footer-logo-box {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .footer-box {
        margin-bottom: 20px;
        ul {
            li {
                display: block;
            }
        }
        h4 {
            font-family: 'NouvelR';
            font-size: 24px;
            line-height: 29px;
            color: #FFFFFF;
        }
        .footer-link-ul {
            li {
                margin-bottom: 10px;
                a {
                    font-size: 18px;
                    line-height: 22px;
                    color: #FFFFFF;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .footer-link-list {
            .fl-link-ul {
                display: flex;
                gap: 20px;
                flex-wrap: wrap;
                li {
                    a {
                        color: #FFFFFF;
                        opacity: 0.8;
                        &:hover {
                            opacity: 1;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .socila-link-ul {
            display: flex;
            gap: 15px;
        }
    }
    .footer-bottom-div {
        border-top: 1px solid #fff;
        padding-top: 30px;
        margin-top: 40px;
        .fb-link {
            ul {
                display: flex;
                gap: 20px;
                justify-content: end;
                li {
                    a {
                        color: #FFFFFF;
                        opacity: 0.8;
                        &:hover {
                            opacity: 1;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1200px) {
    .container-fluid {
        padding: 0 60px;
    }
}
@media screen and (max-width: 991px) {
    .main-footer {
        .footer-logo-box {
            height: auto;
        }
    }
}
