@font-face {
    font-family: 'NouvelR Book';
    src: url('NouvelR-Book.woff2') format('woff2'),
        url('NouvelR-Book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NouvelR';
    src: url('NouvelR-Bold.woff2') format('woff2'),
        url('NouvelR-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NouvelR';
    src: url('NouvelR-Extrabold.woff2') format('woff2'),
        url('NouvelR-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NouvelR';
    src: url('NouvelR-Semibold.woff2') format('woff2'),
        url('NouvelR-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NouvelR';
    src: url('NouvelR-Light.woff2') format('woff2'),
        url('NouvelR-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NouvelR';
    src: url('NouvelR-Regular.woff2') format('woff2'),
        url('NouvelR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

